body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

h1 {
  text-align: center;
  font-size: 5vw;
}

.logo {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  max-width: 25%;
}

.name {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .7rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Rubik', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  max-width: 25%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  font-size: 3vw;
  font-family: 'Rubik', sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}

nav ul li {
  padding: 0 4%;
  align-items: center;
  background-color: #111827;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  margin: 0 2%;
  padding: 0px 40px;
  text-align: center;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin: 0 10%;
}

.mainDiv {
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;

}

.formSubmit {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  max-width: 30%;
}

.formSubmit label {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 5% 0;
  font-size: 1.5vw;
}

.formSubmit input {
  padding: 5%;
  font-size: large;
}

.submit {
  margin-top: 10%;
  padding: 0 4%;
  align-items: center;
  background-color: #111827;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  margin: 0 2%;
  padding: 0px 40px;
  text-align: center;
}

.blogContainer {
  display: flex;
  flex-direction: column;
}

.blogBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(10, 5, 82);
  background: linear-gradient(45deg, rgba(10, 5, 82, 0.9290091036414566) 0%, rgba(9, 30, 121, 1) 52%, rgba(0, 31, 255, 1) 100%);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(233 246 210);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: -.022em;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  white-space: nowrap;
}

.buttonBox button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .6rem 1rem;
  margin-top: .4rem;
  margin-left: .4rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

}

.blogMessages {
  display: flex;
  flex-direction: column;
}